<div class="container">

  <h2 class="title">Admin Panel – User List</h2>
  <button class="save-btn" type="button" (click)="goToBack()">
  Back
</button>

  <!-- Save New User Button -->
 <button class="save-btn" type="button" (click)="goToAddUser()">
  Save New User
</button>

  <input
    type="text"
    class="search-box"
    placeholder="Search by name, email or phone..."
    [(ngModel)]="searchText"
    (input)="searchUser()"
  />

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
       
        <th>Phone</th>
        <th>Address</th>
        <th>User Type</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.Id }}</td>
        <td>{{ user.Name }}</td>
        <td>{{ user.Email }}</td>
        
        <td>{{ user.Phone }}</td>
        <td>{{ user.Address }}</td>
        <td>{{ user.UserType }}</td>
        <td>{{ user.Gender }}</td>
        <td>

            <button class="edit-btn" type="button">
                Edit
            </button>
            <button class="delete-btn" type="button">
                Delete
            </button>
             <button class="delete-btn" type="button">
                Details
            </button>
        </td>
      </tr>

      <tr *ngIf="users.length === 0">
        <td colspan="8" class="no-data">No users found</td>
      </tr>
    </tbody>
  </table>

</div>
